div {
    z-index: 1;
}

.darkBackgroundCover {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}

.closeButton {
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: black;
    line-height: 1;
    background-color: transparent;
}

.horizontalLine {
    margin-top: 2px;
    margin-bottom: 10px;
}

.createProject {
    background-color: white;
    border-radius: 7px;
    width: 540px;
    height: 250px;
    padding: 20px 50px;
}

.title {
    margin-top: 10px;
    border-style: none;
    padding: 5px;
    width: 100%;
}

.title::placeholder {
    color: black;
    font-weight: 600;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.description {
    font-family: "Montserrat", sans-serif;
    background-color: #EFECFF;
    border-radius: 6px;
    border-style: none;
    padding: 10px 15px;
    width: 95%;
    height: 72px;
    margin-bottom: 15px;
}

.description::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(167, 164, 187);
}

.labels {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight:600;
    color: #413E54;
}

.datesContainer {
    display: flex;
    justify-content: space-around;
}

.dates {
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    padding: 3px 3px;
    font-family: "Montserrat", sans-serif;
    width: 160px;
}

.closeAndCreateContainer {
    display: flex;
    justify-content: space-between;
}

.createProjectButton {
    background-color: rgb(93, 68, 241);
    color: white;
    border-style: none;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
}

.cancelProjectButton {
    color: rgb(93, 68, 241);
    background-color: white;
    border-style: solid;
    border-color: rgb(93, 68, 241);
    border-width: 2px;
    font-size: 16px;
    padding: 6px 18px;
    border-radius: 6px;
    font-family: "Montserrat", sans-serif;
}