div {
    z-index: 1;
}

.darkBackgroundCover {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}