.footerContainer {
    display: flex;
    flex-direction: row;
    background-color: rgb(41, 41, 41);
    justify-content: space-evenly;
    padding: 60px 10px;
    align-items: start;
}

.followUs {
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: white;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobileDownload {
    display: flex;
}

.lists {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 50%;
}

.listHeader {
    margin-bottom: 18px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: white;
}

.lists ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.lists ul li {
    font-family: "Montserrat", sans-serif;
    color: #BEBEBE;
    font-size: 16px;
    margin-bottom: 12px;
    font-weight: 500;
}


.faire {
    font-family: "Montserrat", sans-serif;
    color: #BEBEBE;
    font-size: 36px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 20px;
}