.container {
    background-color: rgb(248, 246, 255);
    padding: 25px 100px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBarButtonText {
    color: rgb(65, 62, 84);
    margin-right: 10px;
}

.rightSideNavBar {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.signUp {
    color: white;
    background-color: black;
    padding: 4px 20px;
    border-radius: 4px;
}

